/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;
$popover-bg: #75aadb;

// Code blocks
$code-block-bg-alpha: -.8;

// Navigation bar
$navbar-bg: #181818;
$navbar-hl: #75aadb;
$navbar-fg: #75aadb;
$dropdown-link-hover-color: #75aadb;
